body {
    font-family: Salsa, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  #heading{
    text-align: center;
    padding: 1em;
    padding-left: 25px;
  }
  
  #homebtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 50px;
    
  }

  #hbtn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #hbtn:hover{
    background-color: white;
    color: black;
  }

  #cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  .cart-item img {
    width: 100%;
    border-radius: 8px;
  }
  
  .item-details {
    padding: 10px;
  }
  
  #total {
    text-align: center;
    padding: 20px;
  }
  
  #checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #checkout-btn:hover {
    background-color: #45a049;
  }

#product-list{
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#product-list th{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#product-list td{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.theading{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}