body {
  font-family: Salsa, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  align-items: center;
}

.container {
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 600px;
  margin-top: 200px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: grid;
  grid-gap: 10px;
  transition: opacity 0.3s ease-in-out;
}

label {
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

label:hover {
  color: #007bff;
}

.container:hover {
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

@media only screen and (width <= 600px) {
  .container {
    max-width: 100%;
  }
}
