@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,400;9..40,500&family=Montserrat:ital,wght@1,100&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,200&display=swap');

/*
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

main {
    padding-top: 80px;
}

.slide {
    height: 100%;
    width: 20%;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-100%);
    /* overflow-x: hidden; */
}

#scrollinput {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
    appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 11;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #000;
    border-radius: 50px;
    transition: 0.1s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    align-items: center;
}

.slide h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    align-items: center;
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
}

input:checked ~ .toggle {
    margin-left: 16%;
    transition: 0.5s ease;
    box-shadow: none;
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.uname {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* input:checked ~ .dashboard {
    width: calc(100% - 20%);
    margin-left: 20%;
} */

header {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(/Resources/HDStockImages.com-vVbywC.jpg);
    height: 80px;
}


.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 80px;
}

.search {
    width: 400px;
    border-radius: 5px;
    z-index: 11;
}

.searchmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    width: 400px;
}

.searchmenu input {
    display: flex;
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #333;
    visibility: visible;
    border-radius: 5px;
}

.searchmenu .btn-search {
    position: absolute;
    right: 8%;
    border: none;
    outline: none;
    background: transparent;
}

button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 18px;
    cursor: pointer;
}

.searchmenu input::placeholder {
    text-indent: 20px;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    padding: 15px 10px;
    border-radius: 3px;
    cursor: pointer;

}

.result-box ul li:hover {
    background-color: #e9ffe9;
}

.result-box {
    max-height: 300px;
    width: 360px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000;
    display: none;
}

.result-box.show {
    display: block;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    max-width: 100%;
    transition: margin-left 0.5s ease;
    margin-left: 0;
}

.userposts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    border-radius: 20px;
    border: #000 solid 1px;
}

.userdetails {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* background-color: #fff; */
}

.profilepic {
    border: #000 solid 1px;
    border-radius: 5px;
}

.post {
    margin-bottom: 50px;
}

.reactionicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.like .save .report {
    display: flex;
    flex-direction: row;
}

.starttrend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
    height: 50px;
    border-radius: 20px;
    border: #000 solid 1px;
}

#starttrendbtn {
    border: none;
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

#scrollUpBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.downcontainer {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    margin: 40px;
}

.adboard h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

hr {
    border: 1px solid #000;
    background-color: black;
}

.adboard {
    height: 1vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* visibility: hidden; */

}

.sell button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: white;
}

.ad {
    margin-top: 8px;
    margin-bottom: -25px;
}

.sell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 40px;
    height: 50px;
    border-radius: 20px;
    border: #000 solid 1px;
    background-color: #000;
}

.trendsnap {
    display: flex;
    flex-direction: row;
}

.posttrendnew {
    border: #000 solid 1px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    overflow: auto;
}

.texttrend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texttrend input {
    border: none;
    outline: none;
    background: transparent;
    height: 50px;
}

.posttrendnew button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: white;
}

.trendpostbtndiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
    height: 50px;
    border-radius: 20px;
    background-color: #000;
    width: 80%;
}