body {
  background-color: #f8f8f8;
  background-image: url('./images/home.jpg');
  border-image: fill 0 linear-gradient(#000, #0001);
  background-repeat: no-repeat;
  font-family: Salsa, sans-serif;
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  height: 100vh;
}

#header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#title {
  padding-left: 30px;
  padding-top: 15px;
}

@media screen and (width <= 768px) {
  #searchbox {
    flex-direction: column;
  }
}

.hbtn {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hbtn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: 0 0 10px #007bff;
  outline: none;
  transition: 0.2s;
}



@media screen and (width <= 768px) {
  .table {
    display: block;
    overflow-x: auto;
  }
}

#searchbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

#searchbtn {
  height: 35px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category {
  font-size: 20px;
  width: 250px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

#table-container {
  margin-top: 20px;
  background-color: #ffffffc5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#table-container th {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
}

#dropdown {
  padding-right: 100px;
}

#table-container td {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

#usernamecontainer,
#emailcontainer {
  font-size: 20px;
}

#addtocartbtn1 {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#addtocartdiv {
  display: flex;
  justify-content: right;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#supplierscontainer {
  margin-left: 20px;
  margin-right: 20px;
}

.checkbox-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-checkbox {
  transform: scale(2.5);
}

div {
  padding-left: 10px;
}

.slide {
  height: 100%;
  width: 20%;
  position: absolute;
  padding-top: 48px;
  background-color: #fff;
  transition: 0.5s ease;
  transform: translateX(-110%);

  /* overflow-x: hidden; */
}

#scrollinput {
  display: none;
  visibility: hidden;
  appearance: none;
  appearance: none;
}

#search-box {
  padding: 30px;
}

.toggle {
  position: absolute;
  height: 30px;
  width: 25px;
  top: 20px;
  left: 10px;
  z-index: 11;
  margin-top: 48px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #6feded;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #000;
  border-radius: 50px;
  transition: 0.1s ease;
}

.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  display: flex;
  justify-content: center;
}

.slide h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
  align-items: center;
}

input:checked ~ .toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
  opacity: 0;
}

input:checked ~ .toggle {
  margin-left: 16%;
  transition: 0.5s ease;
  box-shadow: none;
}

input:checked ~ .slide {
  transform: translateX(0);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.uname,
.mail {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
}
