body {
  font-family: Salsa, sans-serif;
  margin: 0;
  font-size: 50px;
  background-image: url('images/login.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#leftbox {
  width: 50%;
  border-radius: 10px;
  margin-top: 0;
  padding-top: 40px;
}

#leftbox p {
  font-size: 35px;
  margin-top: 5px;
  margin-left: 15px;
}

#leftbox h3 {
  margin: 0%;
  font-size: 200%;
}

.sharebtn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#imgdev {
  display: flex;
  margin-top: 20px;
  margin-left: 28px;
}

span{
  font-size: 20px;
}

#mail, #password{
  align-self: center;
}

p {
  font-size: 15px;
  margin-top: 15px;
}

.login-card {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header .log {
  margin: 0;
  font-size: 44px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #53b07d80;
  color: rgb(7 7 7);
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type='submit'] {
  width: 100%;
  background-color: #4f9f73b7;
  color: rgb(201 177 177);
  padding: 14px 20px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #fff;
  color: #000000b7;
  border: 1px solid #000;
}



input[type='submit']:focus {
  outline: none;
  box-shadow: 0 0 10px #007bff;
}
